{% extends 'base.html' %}


  {% block content %}
    <main class="recipe-detail">


      <h1>{{ mealplans.name }}</h1>
      <h2>{{ mealplans.owner | default_if_none:"Uknown" }}</h2>
      <p>
        Created on {{ mealplans.created }} |
        Updated on {{ mealplans.updated }}
      </p>
      <form method="post" action="{% url 'recipe_rating' recipe.id %}">
        {% csrf_token %}
        <div class="rating-form-grid">
          {{ rating_form.as_p }}
          <button class="button">Rate</button>
        </div>
      </form>

    </main>
  {% endblock content %}
